//COLORS

$dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

//FONT COLORS

$dark-greyish-magenta: hsl(303, 10%, 53%);
$light-greyish-agenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$black: #000;
$black-2: rgba(0, 0, 0, 0.5);

//RESPONSIVE BREAKPOINTS

$bp-desktop: 90em; //1440px
$bp-tablet: 56.25em; //900px
$bp-mobile: 40.625em; //650px

//RESETS & RESPONSIVE FONT SIZES

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-tablet) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-mobile) {
        font-size: 50%;
    }
}

body {
    font-family: "Spartan", sans-serif;
}

.attribution {
    text-align: center;
    font-size: 1.2rem;
    color: $black-2;
    margin-top: 5rem;

    &__link {
        color: $black;

        &:hover {
            text-decoration: none;
        }
    }
}
